@import '../../../../styles/shared.scss';

.product-box__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.product-box__content-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: auto;
  border-radius: 1rem;
  border: 1px solid $color-neutral-gray-principal;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14);
}

.product-box__content {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.product-box__header-commodity {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-box__brand-title {
  font: $subtitle1;
  color: $color-white;
  padding: 0.4rem 1rem;
  background: $color-primary-bice;
  width: fit-content;
  text-transform: uppercase;
  border-radius: 0.45rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.product-box__main-title {
  font: $h3-xs-bold;
  color: $color-neutral-gray-gray;
}

.product-box__content-commodity {
  display: flex;
  width: 100%;
  padding: 1rem 0;
  align-items: flex-end;
}

.product-box__price-title {
  font: $h3-xs-bold;
  color: $color-primary-green;
}
.product-box__unit-title {
  font: $body1;
  color: $color-neutral-gray-gray;
}

.product-box__footer-commodity {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}
.product-box__date-title {
  font: $subtitle2;
  color: $color-neutral-gray-dark;
}
