/* How to use media queries in your sass files
@import 'relative/path/to/the/shared.scss';

.container {
  color: red;

  @include mobile {
    color: blue;
  }

  @include desktop {
    color: green;
  }

  @include wide {
    color: black;
  }

  @include retina {
    color: purple;
  }

  @include custom(1000) {
    color: yellow;
  }
}
*/

$print: 'only print';
$screen: 'only screen';
$mobile: '#{$screen} and (max-width: 767px)';
$tablet: '#{$screen} and (min-width: 768px)';
$desktop: '#{$screen} and (min-width: 1025px)';
$wide: '#{$screen} and (min-width: 1440px)';
$ultra: '#{$screen} and (min-width: 1600px)';
$retina: '#{$screen} and (-webkit-min-device-pixel-ratio: 1.5), #{$screen} and (min--moz-device-pixel-ratio: 1.5), #{$screen} and (min-resolution: 240dpi)';

@mixin print {
  @media #{$print} {
    @content;
  }
}

@mixin mobile {
  @media #{$mobile} {
    @content;
  }
}

@mixin tablet {
  @media #{$tablet} {
    @content;
  }
}

@mixin desktop {
  @media #{$desktop} {
    @content;
  }
}

@mixin wide {
  @media #{$wide} {
    @content;
  }
}

@mixin ultra {
  @media #{$ultra} {
    @content;
  }
}

@mixin retina {
  @media #{$retina} {
    @content;
  }
}

@mixin custom($customScreen) {
  @media (min-width: $customScreen+'px') {
    @content;
  }
}

/* colors */

$color-neutral-gray-light: #ededed;
$color-neutral-gray-max-light: #f2f2f2;
$color-neutral-gray-principal: #b6b6b6;
$color-neutral-gray-gray: #606060;
$color-neutral-gray-dark: #292929;
$color-neutral-gray-semi-gray: #dbdbdb;
$color-info-light: #ddedff;
$color-complementary-red-light: #e75353;
$color-white: #fff;
$color-error-msg: #ffe1e2;
$color-primary-max-light: #6aceb5;
$color-primary-green: #048a28;
$color-primary-bice: #326295;

/* Shadows */
$shadow-3: 0px 8px 20px rgba(0, 0, 0, 0.14);
$dropdown-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);

/* Fonts */
$primary-font: 'Montserrat';
$secondary-font: 'Open Sans';
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    @content;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    @content;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    @content;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    @content;
  }
}

// typography scale

$h1: normal normal bold 3.5rem/4.25rem $primary-font;
$h1-xs: normal normal bold 2rem/2.4375rem $primary-font;
$h2: normal normal bold 2.625rem/3.1875rem $primary-font;
$h2-xs: normal normal normal 1.625rem/2rem $primary-font;
$h2-xs-bold: normal normal bold 1.625rem/2rem $primary-font;
$h3: normal normal 600 2.375rem/2.875rem $primary-font;
$h3-bold: normal normal bold 2.375rem/2.875rem $primary-font;
$h3-xs: normal normal 600 1.375rem/1.6875rem $primary-font;
$h3-xs-bold: normal normal bold 1.375rem/1.6875rem $primary-font;
$h3-xs-normal: normal normal normal 1.375rem/1.6875rem $primary-font;
$h4: normal normal 600 2rem/2.4375rem $primary-font;
$h4-bold: normal normal bold 2rem/2.4375rem $primary-font;
$h4-xs: normal normal normal 1.125rem/1.375rem $primary-font;
$h4-xs-semi: normal normal 600 1.125rem/1.375rem $primary-font;
$h4-xs-bold: normal normal bold 1.125rem/1.375rem $primary-font;
$h5: normal normal 600 1.75rem/2.125rem $primary-font;
$h5-bold: normal normal bold 1.75rem/2.125rem $primary-font;
$h5-xs: normal normal 600 1rem/1.25rem $primary-font;
$h5-xs-bold: normal normal bold 1rem/1.25rem $primary-font;
$h6: normal normal 600 1.25rem/1.5rem $primary-font;
$h6-bold: normal normal bold 1.25rem/1.5rem $primary-font;
$h6-xs: normal normal 600 0.875rem/1.1875rem $primary-font;
$h6-xs-secondary-font: normal normal 600 0.875rem/1.1875rem $secondary-font;
$subtitle1: normal normal 600 1rem/1.375rem $primary-font;
$subtitle2: normal normal 600 0.875rem/1.1875rem $secondary-font;
$subtitle3: normal normal 500 0.75rem/0.9375rem $primary-font;
$body1: normal normal normal 1rem/1.375rem $secondary-font;
$body1-bold: normal normal 600 1rem/1.375rem $secondary-font;
$body2: normal normal normal 0.875rem/1.25rem $secondary-font;
$button1: normal normal bold 0.875rem/1.0625rem $primary-font;
$button2: normal normal 600 0.75rem/0.9375rem $primary-font;
$little-text: normal normal normal 0.75rem/1rem $secondary-font;
$little-text-bold: normal normal bold 0.75rem/1rem $secondary-font;
$link1: normal normal 600 0.875rem/1.1875rem $secondary-font;
